<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Css Files -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../assets/css/all.min.css" />
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/style-ltr.css" />
    <link rel="stylesheet" href="../../assets/css/dark-mode.css" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet" />
    <title>Contact Us</title>
</head>
<body>
    <!-- Start Land -->
    <div class="land" style="width: 100%;">
        <div class="pic" style="width: 100%;">
            <img src="../../assets/img/ContactUs.jpg" alt="" style="width: 100%; height: auto;" />
        </div>
    </div>

    <!-- End Land -->
    <!-- Start Contact Us -->
    <div class="form-container contact pt-4 mt-4 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <form action="/"
                          class="contact-form pt-3"
                          data-aos="fade-up"
                          data-aos-delay="300"
                          data-aos-duration="800">
                        <input id="fullName"
                               class="form-control"
                               type="text"
                               placeholder="الاسم"
                               required="" /><br />
                        <input class="form-control"
                               type="text"
                               placeholder="البريد الالكترونى"
                               name=""
                               id="email"
                               required="" /><br />
                        <textarea id="message"
                                  class="form-control rounded-4"
                                  name=""
                                  placeholder="الرسالة"
                                  cols="30"
                                  rows="10"
                                  required=""></textarea><br />
                        <input id="contactButton"
                               class="btn mb-3"
                               type="submit"
                               value="ارسال" />
                    </form>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-12">
                        <div class="pic position-relative d-flex align-items-center justify-content-center"
                             data-aos="fade-right"
                             data-aos-delay="800"
                             data-aos-duration="800">
                            <img class="mw-100"
                                 src="../../assets/img/Contact us-amico.svg"
                                 alt="Contact us" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Us -->
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="./assets/js/to-top.js"></script> -->
    <script src="../../assets/js/dark-mode.js"></script>
    <script src="../../assets/js/main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
