@model SysApi.Dto.LoginDto

@{
    var message = ViewBag.Message;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Css Files -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../assets/css/all.min.css" />
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/style-ltr.css" />

    <link rel="stylesheet" href="../../assets/css/dark-mode.css" />



    <style>
        .message-box {
            padding: 15px;
            margin: 3px;
            background-color: #f0f4f8;
            border-left: 5px solid #007bff;
            border-radius: 8px;
            font-family: 'Arial', sans-serif;
            font-size: 1.2em;
            color: #333;
        }

            .message-box h4 {
                margin-top: 0;
                color: #007bff;
            }

            .message-box p {
                margin-bottom: 0;
            }
    </style>


    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet" />
    <title>Login</title>
</head>
<body>

    <!-- Start Login -->
    <div class="login overflow-hidden">
        <div class="row">
            <div class="col-lg-6">
                <div class="pic d-flex align-items-center justify-content-center">
                    <img src="../../assets/img/login.png"
                         alt=""
                         class="mw-100 h-100 w-100" />
                </div>
            </div>
            <div class="col-lg-6">
                <a href="../index.html"
                   class="pics d-flex align-items-center justify-content-end"
                   data-aos="fade-right"
                   data-aos-duration="800">
                    <img class="logo-img" src="../../assets/img/logo.png" alt="" />
                </a>
                <div class="form-container pt-3">
                    <div class="container">

                        <form asp-controller = "Base" asp-action="SignIn" method="post">
                            <h4 class="fw-bold">Welcome Back!</h4>
                            <p class="text-muted mb-3">
                                Welcome Back, Please Enter Username And Password!
                            </p>
                            @if (!string.IsNullOrEmpty(message))
                            {
                                <div class="message-box">

                                    <p>@message</p>
                                </div>
                            }

                            <label for="" class="fw-bold mb-3">Username</label>
                            <input asp-for="username"
                                   class="form-control rounded"
                                   type="username"
                                   placeholder="Username"
                                   name="username"
                                   required="" /><br />
                            <label for="" class="fw-bold mb-3">Password</label>
                            <input asp-for ="password"
                                   class="form-control rounded"
                                   type="password"
                                   placeholder="Password"
                                   name="password"
                                   id="password"
                                   required="" /><br />
                            <a href="https://wedigitsa.com/forgetpassword"
                               class="d-flex align-items-center justify-content-end fw-bold new">Forget Password?</a>
                            <br />
                            <input id="contactButton"
                                   class="btn shop-btn mb-3 text-white w-100 fs-5 rounded"
                                   type="submit"
                                   value="Login" />
                            <br />
                            <span class="fw-bold">
                                <a asp-controller="Base" asp-action="SignUp" class="btn up-coming" style="color: rgb(255, 154, 21);">Don`t Have An Account?</a>

                            </span>
                            <br />
                            <span class="d-flex align-items-center justify-content-center">Or</span>
                            <br />
                            <div class="buttons d-flex align-items-center flex-column gap-3">
                                <!-- <a
                                  class="facebook text-white py-2 btn w-75 bg-primary d-flex align-items-center justify-content-center gap-2"
                                  href="https://wedigitsa.com/social-login/redirect/facebook"
                                >
                                  <i class="fa-brands fa-facebook"></i>
                                  <span>الاستمرار بالفيس بوك</span>
                                </a> -->
                                <a class="google py-2 btn w-75 bg-white border text-black d-flex align-items-center justify-content-center gap-2"
                                   href="https://wedigitsa.com/social-login/redirect/google">
                                    <img width="16"
                                         src="https://wedigitsa.com/assets/web/asset_en/img/google-icon.svg"
                                         alt=""
                                         class="mw-100" />
                                    <span>Continue With Google</span>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Login -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="./assets/js/to-top.js"></script> -->
    <script src="../../assets/js/dark-mode.js"></script>
    <script src="../../assets/js/main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
