<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Css Files -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../assets/css/all.min.css" />
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/style-ltr.css" />

    <link rel="stylesheet" href="../../assets/css/dark-mode.css" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet" />
    <title>Diploma Details</title>
</head>
<body>
    <!-- Start Navbar -->
    <nav class="navbar navbar-expand-lg bg-white p-0 sticky-top">
        <div class="container">
            <a class="navbar-brand logo text-center d-flex align-items-center"
               href="../index.html">
                <img src="/assets/img/logo.png" alt="" class="logo-img" />
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse mb-2 mb-lg-0"
                 id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../contact-us/">About</a>
                    </li>
                </ul>
                <div class="buttons d-flex gap-3">
                    <a href="../login/" class="btn up-coming">Login</a>
                    <a href="../login/" class="btn up-coming">Get Started</a>
                </div>
                <div class="dark-btn me-4">
                    <div class="btn-indecator">
                        <div class="btn-container">
                            <i class="btn-icon fa-solid fa-sun"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <!-- Start Land -->
    <div class="land position-relative">
        <div class="pic">
            <img src="../../assets/img/land.png" alt="" class="mw-100 w-100" />
        </div>
        <div class="content d-flex gap-4 flex-column">
            <h3 class="fw-bold"
                class="name-info d-flex align-items-center gap-4"
                data-aos="fade-left"
                data-aos-duration="800">
                Customer Service - Key Account Management
            </h3>
            <!-- <div
              class="rates d-flex align-items-center gap-3 flex-column flex-lg-row"
              class="name-info d-flex align-items-center gap-4"
              data-aos="fade-left"
              data-aos-duration="800"
            >
              <span class="students"> 20327 طالب </span>
              <div class="rate d-flex align-items-center gap-3">
                <span>(1023 تقييم)</span>
                <span class="fs-5 fw-bold">4,7/5</span>
              </div>
              <div class="stars">
                <i class="fa-solid fa-star-half-stroke"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
            <div
              class="name-info d-flex align-items-center gap-4"
              data-aos="fade-left"
              data-aos-duration="800"
            >
              <div class="pics">
                <img src="../../assets/img/lina.png" alt="" class="mw-100" />
              </div>
              <span class="fs-5">عبدالرحمن محمد</span>
            </div>
            <div
              class="buttons d-flex align-items-center gap-2"
              data-aos="fade-left"
              data-aos-duration="800"
            >
              <a href="#" class="btn d-flex align-items-center gap-2 py-2 px-3">
                <i class="fa-solid fa-plus"></i>
                اضافة الي السلة
              </a>
              <a href="#" class="btn d-flex align-items-center gap-2 py-2 px-3">
                <i class="fa-solid fa-share-nodes"></i>
                مشاركة
              </a>
            </div> -->
        </div>
    </div>
    <!-- End Land -->
    <!-- Start Diploma -->
    <div class="diploma mt-5 overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-4">
                    <div class="infos mb-5"
                         data-aos="fade-up"
                         data-aos-delay="400"
                         data-aos-duration="800">
                        <h3 class="fw-bold">ماذا ستتعلم في هذه الدورة</h3>
                        <ul class="list-unstyled d-flex flex-column gap-3">
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sequi, modi accusamus debitis ipsam laboriosam, eaque ratione
                                corrupti quaerat, sit nulla cum vel consectetur accusantium
                                dolorum rem ea neque voluptatum delectus.
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sequi, modi accusamus debitis ipsam laboriosam, eaque ratione
                                corrupti quaerat, sit nulla cum vel consectetur accusantium
                                dolorum rem ea neque voluptatum delectus.
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sequi, modi accusamus debitis ipsam laboriosam, eaque ratione
                                corrupti quaerat, sit nulla cum vel consectetur accusantium
                                dolorum rem ea neque voluptatum delectus.
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sequi, modi accusamus debitis ipsam laboriosam, eaque ratione
                                corrupti quaerat, sit nulla cum vel consectetur accusantium
                                dolorum rem ea neque voluptatum delectus.
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sequi, modi accusamus debitis ipsam laboriosam, eaque ratione
                                corrupti quaerat, sit nulla cum vel consectetur accusantium
                                dolorum rem ea neque voluptatum delectus.
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Sequi, modi accusamus debitis ipsam laboriosam, eaque ratione
                                corrupti quaerat, sit nulla cum vel consectetur accusantium
                                dolorum rem ea neque voluptatum delectus.
                            </li>
                        </ul>
                        <div class="spans d-flex align-items-center justify-content-between mt-4 flex-column flex-lg-row">
                            <h3 class="fw-bold m-0">دروس الدورة التعليمية</h3>
                            <p class="fw-bold">24 وحده - 124 درس - 24 h 12m</p>
                        </div>
                    </div>
                    <div class="accordion"
                         id="accordionExample "
                         data-aos="fade-up"
                         data-aos-delay="300"
                         data-aos-duration="800">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button fw-bold"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne">
                                    <span> Introducing to Web Development </span>
                                </button>
                            </h2>
                            <div id="collapseOne"
                                 class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="d-flex flex-column gap-4 m-0">
                                        <li class="d-flex gap-2 align-items-center justify-content-between">
                                            <span>01:24</span>
                                            <div class="icon d-flex gap-2 align-items-center justify-content-end">
                                                Welcome!
                                                <i class="fa-brands fa-youtube"></i>
                                            </div>
                                        </li>
                                        <li class="d-flex gap-2 align-items-center justify-content-between">
                                            <span>01:24</span>
                                            <div class="icon d-flex gap-2 align-items-center justify-content-end">
                                                Welcome!
                                                <i class="fa-brands fa-youtube"></i>
                                            </div>
                                        </li>
                                        <li class="d-flex gap-2 align-items-center justify-content-between">
                                            <span>01:24</span>
                                            <div class="icon d-flex gap-2 align-items-center justify-content-end">
                                                Welcome!
                                                <i class="fa-brands fa-youtube"></i>
                                            </div>
                                        </li>
                                        <li class="d-flex gap-2 align-items-center justify-content-between">
                                            <span>01:24</span>
                                            <div class="icon d-flex gap-2 align-items-center justify-content-end">
                                                Welcome!
                                                <i class="fa-brands fa-youtube"></i>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    <span> Introducing to Web Development </span>
                                </button>
                            </h2>
                            <div id="collapseTwo"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="d-flex flex-column gap-4 m-0">
                                        <li class="d-flex gap-2 align-items-center justify-content-end">
                                            <i class="fa-brands fa-youtube"></i>
                                            Welcome!
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree"
                                        aria-expanded="false"
                                        aria-controls="collapseThree">
                                    <span> Introducing to Web Development </span>
                                </button>
                            </h2>
                            <div id="collapseThree"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="d-flex flex-column gap-4 m-0">
                                        <li class="d-flex gap-2 align-items-center justify-content-end">
                                            <i class="fa-brands fa-youtube"></i>
                                            Welcome!
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="btn bg-primary text-center mt-5 w-100 text-white py-3">
                            More Modules
                        </div>
                    </div>
                    <div class="mr mt-5"
                         data-aos="fade-up"
                         data-aos-delay="300"
                         data-aos-duration="800">
                        <h3 class="fw-bold">الاستاذ</h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="pic">
                                    <img src="../../assets/img/Image Placeholder.png"
                                         alt=""
                                         class="mw-100 w-100" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="content d-flex flex-column gap-3 text-center text-lg-end">
                                    <h3 class="fw-bold">عبدالرحمن محمد</h3>
                                    <span>مدرب خبير مطور أول</span>
                                    <div class="rates d-flex align-items-center gap-4 flex-column flex-lg-row">
                                        <span class="students"> (1023 Reviews)</span>
                                        <div class="rate d-flex align-items-center gap-3">
                                            <span class="fs-5 fw-bold">4,7/5</span>
                                        </div>
                                        <div class="stars">
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Sed, cumque maiores. Nisi vero commodi ducimus quas a
                                        nostrum nulla dignissimos hic perspiciatis dolores. Ipsum
                                        eum, amet magnam doloremque odit sunt?
                                    </p>
                                    <div class="bullets d-flex align-items-center gap-3 justify-content-lg-start justify-content-center">
                                        <div class="bullet d-flex align-items-center gap-2">
                                            2583 طالب
                                            <i class="fa-solid fa-circle"></i>
                                        </div>
                                        <div class="bullet d-flex align-items-center gap-2">
                                            12 دورة تعليمية
                                            <i class="fa-solid fa-circle"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prog mt-5"
                         data-aos="fade-up"
                         data-aos-delay="300"
                         data-aos-duration="800">
                        <div class="row">
                            <div class="col-lg-4 mb-4 text-center text-lg-start">
                                <h3 class="fw-bold">التقييمات</h3>
                                <div class="cont">
                                    <h3 class="fw-bold fs-1">5.0</h3>
                                    <div class="stars">
                                        <i class="fa-solid fa-star-half-stroke"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <span>تقييم الدورة التعليمية</span>
                                </div>
                            </div>
                            <div class="col-lg-8 d-flex flex-column gap-4 gap-lg-2">
                                <div class="review d-flex align-items-center gap-3 gap-lg-4 flex-column flex-lg-row">
                                    <span>500 Reviews</span>
                                    <div class="stars">
                                        <i class="fa-solid fa-star-half-stroke"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div style="direction: ltr"
                                         class="progress w-50"
                                         role="progressbar"
                                         aria-label="Basic example"
                                         aria-valuenow="100"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                        <div class="progress-bar" style="width: 100%"></div>
                                    </div>
                                </div>
                                <div class="review d-flex align-items-center gap-3 gap-lg-4 flex-column flex-lg-row">
                                    <span>500 Reviews</span>
                                    <div class="stars">
                                        <i class="fa-solid fa-star-half-stroke"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div style="direction: ltr"
                                         class="progress w-50"
                                         role="progressbar"
                                         aria-label="Basic example"
                                         aria-valuenow="100"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                        <div class="progress-bar" style="width: 80%"></div>
                                    </div>
                                </div>
                                <div class="review d-flex align-items-center gap-3 gap-lg-4 flex-column flex-lg-row">
                                    <span>500 Reviews</span>
                                    <div class="stars">
                                        <i class="fa-solid fa-star-half-stroke"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div style="direction: ltr"
                                         class="progress w-50"
                                         role="progressbar"
                                         aria-label="Basic example"
                                         aria-valuenow="100"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                        <div class="progress-bar" style="width: 60%"></div>
                                    </div>
                                </div>
                                <div class="review d-flex align-items-center gap-3 gap-lg-4 flex-column flex-lg-row">
                                    <span>500 Reviews</span>
                                    <div class="stars">
                                        <i class="fa-solid fa-star-half-stroke"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div style="direction: ltr"
                                         class="progress w-50"
                                         role="progressbar"
                                         aria-label="Basic example"
                                         aria-valuenow="100"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                        <div class="progress-bar" style="width: 40%"></div>
                                    </div>
                                </div>
                                <div class="review d-flex align-items-center gap-3 gap-lg-4 flex-column flex-lg-row">
                                    <span>500 Reviews</span>
                                    <div class="stars">
                                        <i class="fa-solid fa-star-half-stroke"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div style="direction: ltr"
                                         class="progress w-50"
                                         role="progressbar"
                                         aria-label="Basic example"
                                         aria-valuenow="100"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                        <div class="progress-bar" style="width: 25%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div style="direction: ltr"
                         class="details border rounded-3 overflow-hidden"
                         data-aos="fade-right"
                         data-aos-delay="1000"
                         data-aos-duration="800">
                        <div class="video">
                            <video controls
                                   src="../../assets/img/awesome-video.mp4"
                                   class="mw-100 w-100"
                                   type="video/mp4"></video>
                        </div>
                        <div class="content px-3">
                            <div class="price pb-1 border-bottom d-flex gap-3 align-items-center mb-3">
                                <span class="fw-bold fs-2">$53</span>
                                <span class="text-muted fs-5 text-decoration-line-through">$124</span>
                            </div>
                            <div class="docs d-flex align-items-center justify-content-between mb-3">
                                <div class="para fw-bold d-flex flex-column fs-5">
                                    <span>64 Document</span>
                                    <span>courses</span>
                                </div>
                                <div class="btn bg-danger text-white px-4 py-2 fw-bold">
                                    50% OFF
                                </div>
                            </div>
                            <div class="checks mb-3">
                                <div class="row">
                                    <div class="col-6 d-flex align-items-center gap-2 mb-3">
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>24 وحدة</span>
                                    </div>
                                    <div class="col-6 d-flex align-items-center gap-2 mb-3">
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>24 وحدة</span>
                                    </div>
                                    <div class="col-6 d-flex align-items-center gap-2 mb-3">
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>24 وحدة</span>
                                    </div>
                                    <div class="col-6 d-flex align-items-center gap-2 mb-3">
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>24 وحدة</span>
                                    </div>
                                    <div class="col-6 d-flex align-items-center gap-2 mb-3">
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>24 وحدة</span>
                                    </div>
                                    <div class="col-6 d-flex align-items-center gap-2 mb-3">
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>24 وحدة</span>
                                    </div>
                                    <div class="col-6 d-flex align-items-center gap-2 mb-3">
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>24 وحدة</span>
                                    </div>
                                    <div class="col-6 d-flex align-items-center gap-2 mb-3">
                                        <i class="fa-solid fa-circle-check"></i>
                                        <span>24 وحدة</span>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons d-flex align-items-center flex-column gap-2 pb-3">
                                <a href="#" class="btn w-100 py-2"> Add To Cart </a>
                                <a href="#" class="btn w-100 py-2"> Buy Now </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Diploma -->
    <!-- Start Say -->
    <!-- <div
      class="say say-two pt-5 overflow-hidden"
      style="direction: ltr"
      data-aos="fade-up"
      data-aos-delay="300"
      data-aos-duration="800"
    >
      <div class="container">
        <h2 class="text-center" mb-3>ماذا قال عنا طلابنا</h2>
        <p class="text-center w-75 m-auto">
          Lorem ipsum dolor sit amet consectetur. Proin fames eu justo turpis.
          Tempor proin ipsum interdum aliquam in tellus elementum. Mattis
          pellentesque volutpat.
        </p>
        <div
          class="swiper mySwiperTwo"
          data-aos="zoom-in"
          data-aos-delay="300"
          data-aos-duration="800"
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide rounded-4 text-start">
              <div
                class="box rounded-2 overflow-hidden d-flex flex-column gap-4 p-3"
              >
                <div class="icon">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <p class="fw-bold">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Magni, hic! Natus facilis ex molestias cupiditate ea
                  laudantium laboriosam nesciunt dolores magnam possimus et,
                  nisi corporis ipsa, quos illum eligendi distinctio.
                </p>
                <div class="info d-flex gap-3">
                  <div class="pic rounded-circle overflow-hidden">
                    <img
                      src="../../assets/img/mohamed-hesham.png"
                      alt=""
                      class="mw-100"
                    />
                  </div>
                  <div class="name d-flex flex-column">
                    <span class="fw-bold">Albert Flores</span>
                    <span>Position, Company name</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide rounded-4 text-start">
              <div
                class="box rounded-2 overflow-hidden d-flex flex-column gap-4 p-3"
              >
                <div class="icon">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <p class="fw-bold">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Magni, hic! Natus facilis ex molestias cupiditate ea
                  laudantium laboriosam nesciunt dolores magnam possimus et,
                  nisi corporis ipsa, quos illum eligendi distinctio.
                </p>
                <div class="info d-flex gap-3">
                  <div class="pic rounded-circle overflow-hidden">
                    <img
                      src="../../assets/img/mohamed-hesham.png"
                      alt=""
                      class="mw-100"
                    />
                  </div>
                  <div class="name d-flex flex-column">
                    <span class="fw-bold">Albert Flores</span>
                    <span>Position, Company name</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide rounded-4 text-start">
              <div
                class="box rounded-2 overflow-hidden d-flex flex-column gap-4 p-3"
              >
                <div class="icon">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <p class="fw-bold">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Magni, hic! Natus facilis ex molestias cupiditate ea
                  laudantium laboriosam nesciunt dolores magnam possimus et,
                  nisi corporis ipsa, quos illum eligendi distinctio.
                </p>
                <div class="info d-flex gap-3">
                  <div class="pic rounded-circle overflow-hidden">
                    <img
                      src="../../assets/img/mohamed-hesham.png"
                      alt=""
                      class="mw-100"
                    />
                  </div>
                  <div class="name d-flex flex-column">
                    <span class="fw-bold">Albert Flores</span>
                    <span>Position, Company name</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide rounded-4 text-start">
              <div
                class="box rounded-2 overflow-hidden d-flex flex-column gap-4 p-3"
              >
                <div class="icon">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <p class="fw-bold">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Magni, hic! Natus facilis ex molestias cupiditate ea
                  laudantium laboriosam nesciunt dolores magnam possimus et,
                  nisi corporis ipsa, quos illum eligendi distinctio.
                </p>
                <div class="info d-flex gap-3">
                  <div class="pic rounded-circle overflow-hidden">
                    <img
                      src="./assets/img/mohamed-hesham.png"
                      alt=""
                      class="mw-100"
                    />
                  </div>
                  <div class="name d-flex flex-column">
                    <span class="fw-bold">Albert Flores</span>
                    <span>Position, Company name</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div> -->
    <!-- End Say -->
    <!-- Start Courses -->
    <!-- <div
      class="courses mt-5 mb-5 overflow-hidden"
      data-aos="fade-up"
      data-aos-delay="300"
      data-aos-duration="800"
    >
      <div class="container">
        <h2 class="text-center mb-5">دورات تعليمية اونلاين</h2>
        <div
          class="swiper mySwiper"
          data-aos="zoom-in"
          data-aos-delay="300"
          data-aos-duration="800"
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide rounded-4">
              <div class="box rounded-4 overflow-hidden">
                <div class="pic position-relative">
                  <img
                    src="../../assets/img/course-1.png"
                    alt=""
                    class="mw-100 w-100"
                  />
                  <div
                    class="cont position-absolute d-flex align-items-center gap-2 py-2 px-4 rounded-4"
                  >
                    <div class="imgs d-flex">
                      <img src="../../assets/img/Blink.png" alt="" />
                      <img src="../../assets/img/Ander.png" alt="" />
                      <img src="../../assets/img/Bartender.png" alt="" />
                      <img src="../../assets/img/Big Bird.png" alt="" />
                      <img src="../../assets/img/Bill.png" alt="" />
                    </div>
                    + 40 student
                  </div>
                </div>
                <div
                  class="content p-3 text-start d-flex flex-column gap-2 mt-3"
                >
                  <span class="text-secondary">1 - 28 July 2022</span>
                  <h5 class="fw-bold">Product Management Basic - Course</h5>
                  <p>
                    Product Management Masterclass, you will learn with Sarah
                    Johnson - Head of Product Customer Platform Gojek Indonesia.
                  </p>
                </div>
                <div
                  class="info d-flex align-items-center justify-content-around pb-3"
                >
                  <div class="price d-flex align-items-center gap-3">
                    <span class="fw-bold">$ 380</span>
                    <span>$ 500</span>
                  </div>
                  <a href="#" class="btn"> Enroll Now </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide rounded-4">
              <div class="box rounded-4 overflow-hidden">
                <div class="pic position-relative">
                  <img
                    src="../../assets/img/course-1.png"
                    alt=""
                    class="mw-100 w-100"
                  />
                  <div
                    class="cont position-absolute d-flex align-items-center gap-2 py-2 px-4 rounded-4"
                  >
                    <div class="imgs d-flex">
                      <img src="../../assets/img/Blink.png" alt="" />
                      <img src="../../assets/img/Ander.png" alt="" />
                      <img src="../../assets/img/Bartender.png" alt="" />
                      <img src="../../assets/img/Big Bird.png" alt="" />
                      <img src="../../assets/img/Bill.png" alt="" />
                    </div>
                    + 40 student
                  </div>
                </div>
                <div
                  class="content p-3 text-start d-flex flex-column gap-2 mt-3"
                >
                  <span class="text-secondary">1 - 28 July 2022</span>
                  <h5 class="fw-bold">Product Management Basic - Course</h5>
                  <p>
                    Product Management Masterclass, you will learn with Sarah
                    Johnson - Head of Product Customer Platform Gojek Indonesia.
                  </p>
                </div>
                <div
                  class="info d-flex align-items-center justify-content-around pb-3"
                >
                  <div class="price d-flex align-items-center gap-3">
                    <span class="fw-bold">$ 380</span>
                    <span>$ 500</span>
                  </div>
                  <a href="#" class="btn"> Enroll Now </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide rounded-4">
              <div class="box rounded-4 overflow-hidden">
                <div class="pic position-relative">
                  <img
                    src="../../assets/img/course-1.png"
                    alt=""
                    class="mw-100 w-100"
                  />
                  <div
                    class="cont position-absolute d-flex align-items-center gap-2 py-2 px-4 rounded-4"
                  >
                    <div class="imgs d-flex">
                      <img src="../../assets/img/Blink.png" alt="" />
                      <img src="../../assets/img/Ander.png" alt="" />
                      <img src="../../assets/img/Bartender.png" alt="" />
                      <img src="../../assets/img/Big Bird.png" alt="" />
                      <img src="../../assets/img/Bill.png" alt="" />
                    </div>
                    + 40 student
                  </div>
                </div>
                <div
                  class="content p-3 text-start d-flex flex-column gap-2 mt-3"
                >
                  <span class="text-secondary">1 - 28 July 2022</span>
                  <h5 class="fw-bold">Product Management Basic - Course</h5>
                  <p>
                    Product Management Masterclass, you will learn with Sarah
                    Johnson - Head of Product Customer Platform Gojek Indonesia.
                  </p>
                </div>
                <div
                  class="info d-flex align-items-center justify-content-around pb-3"
                >
                  <div class="price d-flex align-items-center gap-3">
                    <span class="fw-bold">$ 380</span>
                    <span>$ 500</span>
                  </div>
                  <a href="#" class="btn"> Enroll Now </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide rounded-4">
              <div class="box rounded-4 overflow-hidden">
                <div class="pic position-relative">
                  <img
                    src="../../assets/img/course-1.png"
                    alt=""
                    class="mw-100 w-100"
                  />
                  <div
                    class="cont position-absolute d-flex align-items-center gap-2 py-2 px-4 rounded-4"
                  >
                    <div class="imgs d-flex">
                      <img src="../../assets/img/Blink.png" alt="" />
                      <img src="../../assets/img/Ander.png" alt="" />
                      <img src="../../assets/img/Bartender.png" alt="" />
                      <img src="../../assets/img/Big Bird.png" alt="" />
                      <img src="../../assets/img/Bill.png" alt="" />
                    </div>
                    + 40 student
                  </div>
                </div>
                <div
                  class="content p-3 text-start d-flex flex-column gap-2 mt-3"
                >
                  <span class="text-secondary">1 - 28 July 2022</span>
                  <h5 class="fw-bold">Product Management Basic - Course</h5>
                  <p>
                    Product Management Masterclass, you will learn with Sarah
                    Johnson - Head of Product Customer Platform Gojek Indonesia.
                  </p>
                </div>
                <div
                  class="info d-flex align-items-center justify-content-around pb-3"
                >
                  <div class="price d-flex align-items-center gap-3">
                    <span class="fw-bold">$ 380</span>
                    <span>$ 500</span>
                  </div>
                  <a href="#" class="btn"> Enroll Now </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide rounded-4">
              <div class="box rounded-4 overflow-hidden">
                <div class="pic position-relative">
                  <img
                    src="../../assets/img/course-1.png"
                    alt=""
                    class="mw-100 w-100"
                  />
                  <div
                    class="cont position-absolute d-flex align-items-center gap-2 py-2 px-4 rounded-4"
                  >
                    <div class="imgs d-flex">
                      <img src="../../assets/img/Blink.png" alt="" />
                      <img src="../../assets/img/Ander.png" alt="" />
                      <img src="../../assets/img/Bartender.png" alt="" />
                      <img src="../../assets/img/Big Bird.png" alt="" />
                      <img src="../../assets/img/Bill.png" alt="" />
                    </div>
                    + 40 student
                  </div>
                </div>
                <div
                  class="content p-3 text-start d-flex flex-column gap-2 mt-3"
                >
                  <span class="text-secondary">1 - 28 July 2022</span>
                  <h5 class="fw-bold">Product Management Basic - Course</h5>
                  <p>
                    Product Management Masterclass, you will learn with Sarah
                    Johnson - Head of Product Customer Platform Gojek Indonesia.
                  </p>
                </div>
                <div
                  class="info d-flex align-items-center justify-content-around pb-3"
                >
                  <div class="price d-flex align-items-center gap-3">
                    <span class="fw-bold">$ 380</span>
                    <span>$ 500</span>
                  </div>
                  <a href="#" class="btn"> Enroll Now </a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div> -->
    <!-- End Courses -->
    <!-- Start Footer -->
    <section class="footer py-5"
             data-aos="fade-up"
             data-aos-delay="300"
             data-aos-duration="800">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <div class="ftco-footer d-flex gap-2 flex-column">
                        <div class="pic logo p-2 rounded-3 d-flex align-items-center justify-content-center">
                            <img src="../../assets/img/logo.png"
                                 alt=""
                                 class="mw-100 logo-img-two" />
                        </div>
                        <div class="info pt-5 d-flex flex-column gap-4">
                            <div class="info-one d-flex align-items-center gap-3">
                                <i class="fa-solid fa-location-dot"></i>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                </p>
                            </div>
                            <div class="info-one d-flex align-items-center gap-3">
                                <i class="fa-solid fa-phone"></i>
                                <a href="https://wa.me/" target="_blank" class="have">
                                    +9229341037
                                </a>
                            </div>
                            <div class="info-one d-flex align-items-center gap-3">
                                <i class="fa-solid fa-clock"></i>
                                <a href="mailto:Info@cortexims.com"
                                   target="_blank"
                                   class="have">Response hours: 8 to 20</a>
                            </div>
                            <div class="info-one d-flex align-items-center gap-3">
                                <i class="fa-solid fa-envelope"></i>
                                <a href="mailto:Info@cortexims.com"
                                   target="_blank"
                                   class="have">Email: info@onlearn.com</a>
                            </div>
                        </div>
                        <!-- <ul class="social-icons d-flex flex-wrap gap-3">
                          <a
                            target="_blank"
                            href="https://www.facebook.com/profile.php?id=61559034882010"
                            class="d-flex align-items-center justify-content-center social-icon"
                          >
                            <i class="fa-brands fa-facebook-f"></i>
                          </a>
                          <a
                            target="_blank"
                            href="#"
                            class="d-flex align-items-center justify-content-center social-icon"
                          >
                            <i class="fa-brands fa-instagram"></i>
                          </a>
                          <a
                            target="_blank"
                            href="#"
                            class="d-flex align-items-center justify-content-center social-icon"
                          >
                            <i class="fa-brands fa-whatsapp"></i>
                          </a>
                          <a
                            target="_blank"
                            href="#"
                            class="d-flex align-items-center justify-content-center social-icon"
                          >
                            <i class="fa-brands fa-tiktok"></i>
                          </a>
                          <a
                            target="_blank"
                            href="#"
                            class="d-flex align-items-center justify-content-center social-icon"
                          >
                            <i class="fa-brands fa-snapchat"></i>
                          </a>
                          <a
                            target="_blank"
                            href="#"
                            class="d-flex align-items-center justify-content-center social-icon"
                          >
                            <i class="fa-brands fa-twitter"></i>
                          </a>
                          <a
                            target="_blank"
                            href="#"
                            class="d-flex align-items-center justify-content-center social-icon"
                          >
                            <i class="fa-brands fa-pinterest-p"></i>
                          </a>
                          <a
                            target="_blank"
                            href="#"
                            class="d-flex align-items-center justify-content-center social-icon"
                          >
                            <i class="fa-brands fa-linkedin-in"></i>
                          </a>
                        </ul> -->
                    </div>
                </div>
                <div class="col-lg-2 wd-10 mb-3">
                    <div class="ftco-footer d-flex gap-4 flex-column">
                        <h2>Categories</h2>
                        <ul class="d-flex flex-column gap-3">
                            <li>
                                <a href="./index.html" class="site-link"> Counseling </a>
                            </li>
                            <li>
                                <a href="../about/" class="site-link"> Health and fitness</a>
                            </li>
                            <li>
                                <a href="../about/" class="site-link">
                                    Individual development
                                </a>
                            </li>
                            <li>
                                <a href="../about/" class="site-link"> More</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 wd-10 mb-3">
                    <div class="ftco-footer d-flex gap-4 flex-column">
                        <h2>Links</h2>
                        <ul class="d-flex flex-column gap-3">
                            <li>
                                <a href="./index.html" class="site-link"> About us </a>
                            </li>
                            <li>
                                <a href="../about/" class="site-link"> blog </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ftco-footer">
                        <p class="text-center mb-3">
                            Stay up to date with the latest courses
                        </p>
                        <form action="">
                            <div class="email d-flex bg-white p-2 rounded-3">
                                <input type="email"
                                       name=""
                                       id=""
                                       class="form-control border-0"
                                       placeholder="Email" />
                                <input type="submit"
                                       value="Send"
                                       class="btn px-5 rounded-4" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="copyright text-white">
                <p class="text-center">Copyright ©2024 All rights reserved by</p>
            </div>
        </div>
    </section>
    <!-- End Footer -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="./assets/js/to-top.js"></script> -->
    <script src="../../assets/js/dark-mode.js"></script>
    <script src="../../assets/js/main.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            spaceBetween: 25,
            // loop: true,
            centerSlide: "true",
            fade: "true",
            autoplay: {
                delay: 5000, // set the delay in milliseconds
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                0: {
                    slidesPerView: 1,
                },
                520: {
                    slidesPerView: 2,
                },
                950: {
                    slidesPerView: 3,
                },
            },
        });
    </script>
    <script>
        var swiper = new Swiper(".mySwiperTwo", {
            slidesPerView: 3,
            spaceBetween: 25,
            loop: true,
            centerSlide: "true",
            fade: "true",
            autoplay: {
                delay: 5000, // set the delay in milliseconds
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                0: {
                    slidesPerView: 1,
                },
                520: {
                    slidesPerView: 2,
                },
                950: {
                    slidesPerView: 3,
                },
            },
        });
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
